%div.container
  %h1 testing

  %div.panel.panel-default
    %table.table.table-bordered.table-striped#main_data
      %thead
        %tr
          %th
            %div.headerCellDiv first name
          %th
            %div.headerCellDiv last name
          %th
            %div.headerCellDiv street address
          %th
            %div.headerCellDiv city
          %th
            %div.headerCellDiv state
          %th
            %div.headerCellDiv zip
          %th
            %div.headerCellDiv bar visits

        %tr
          %td.sorter-false
            %input.span2.colSearch#search1
          %td.sorter-false
            %input.span2.colSearch#search2
          %td.sorter-false
            %input.span2.colSearch#search3
          %td.sorter-false
            %input.span2.colSearch#search4
          %td.sorter-false
            %input.span2.colSearch#search5
          %td.sorter-false
            %input.span2.colSearch#search6
          %td.sorter-false
            %input.span2.colSearch#search7

      %tbody
        %tr
          %td.cell1 Frank
          %td.cell2 Vinci
          %td.cell3 802 N Monroe St
          %td.cell4 Media
          %td.cell5 PA
          %td.cell6 19063
          %td.cell7 3
        %tr
          %td.cell1 Joe
          %td.cell2 VW
          %td.cell3 251 E 6th St
          %td.cell4 Media
          %td.cell5 PA
          %td.cell6 19063
          %td.cell7 1
        %tr
          %td.cell1 Susan
          %td.cell2 Turner
          %td.cell3 627 N Monroe St
          %td.cell4 Media
          %td.cell5 PA
          %td.cell6 19063
          %td.cell7 1
        %tr
          %td.cell1 Amanda
          %td.cell2 Vinci
          %td.cell3 333 S Orange St
          %td.cell4 Media
          %td.cell5 PA
          %td.cell6 19063
          %td.cell7 7
        %tr
          %td.cell1 Ryan
          %td.cell2 Paul
          %td.cell3 251 E 6th St
          %td.cell4 Media
          %td.cell5 PA
          %td.cell6 19063
          %td.cell7 6
        %tr
          %td.cell1 Frank1
          %td.cell2 Vinci
          %td.cell3 802 N Monroe St
          %td.cell4 Media
          %td.cell5 PA
          %td.cell6 19063
          %td.cell7 3
        %tr
          %td.cell1 Joe1
          %td.cell2 VW
          %td.cell3 251 E 6th St
          %td.cell4 Media
          %td.cell5 PA
          %td.cell6 19063
          %td.cell7 1
        %tr
          %td.cell1 Susan1
          %td.cell2 Turner
          %td.cell3 627 N Monroe St
          %td.cell4 Media
          %td.cell5 PA
          %td.cell6 19063
          %td.cell7 1
        %tr
          %td.cell1 Amanda1
          %td.cell2 Vinci
          %td.cell3 333 S Orange St
          %td.cell4 Media
          %td.cell5 PA
          %td.cell6 19063
          %td.cell7 7
        %tr
          %td.cell1 Ryan1
          %td.cell2 Paul
          %td.cell3 251 E 6th St
          %td.cell4 Media
          %td.cell5 PA
          %td.cell6 19063
          %td.cell7 6
        %tr
          %td.cell1 Frank2
          %td.cell2 Vinci
          %td.cell3 802 N Monroe St
          %td.cell4 Media
          %td.cell5 PA
          %td.cell6 19063
          %td.cell7 3
        %tr
          %td.cell1 Joe2
          %td.cell2 VW
          %td.cell3 251 E 6th St
          %td.cell4 Media
          %td.cell5 PA
          %td.cell6 19063
          %td.cell7 1
        %tr
          %td.cell1 Susan2
          %td.cell2 Turner
          %td.cell3 627 N Monroe St
          %td.cell4 Media
          %td.cell5 PA
          %td.cell6 19063
          %td.cell7 1
        %tr
          %td.cell1 Amanda2
          %td.cell2 Vinci
          %td.cell3 333 S Orange St
          %td.cell4 Media
          %td.cell5 PA
          %td.cell6 19063
          %td.cell7 7
        %tr
          %td.cell1 Ryan2
          %td.cell2 Paul
          %td.cell3 251 E 6th St
          %td.cell4 Media
          %td.cell5 PA
          %td.cell6 19063
          %td.cell7 6
    %div.pager#pager
      %form
        %img.first{:src => 'http://mottie.github.com/tablesorter/addons/pager/icons/first.png'}
        %img.prev{:src => 'http://mottie.github.com/tablesorter/addons/pager/icons/prev.png'}
        %span.pagedisplay
        %img.next{:src => 'http://mottie.github.com/tablesorter/addons/pager/icons/next.png'}
        %img.last{:src => 'http://mottie.github.com/tablesorter/addons/pager/icons/last.png'}
        %select.pagesize
          %option{:selected => 'selected', :value => '10'} 10
          %option{:value => '20'} 20
          %option{:value => '30'} 30
          %option{:value => '40'} 40