th.headerSortUp {
    /*background-image: url(small_asc.gif);*/
    background-color: #339bb9;
}

th.headerSortDown {
    /*background-image: url(icon-arrow-down.png);*/
    background-color: #339bb9;
}

body {
    padding-top: 65px;
}